@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
$white: white;
$pink: #FFB4DE;
$fuschia: #FF00FE;
$violet: #B000FD;
$purple: #9900FE;
$indigo: #4000FD;
$blue: #0005FC;
$black: #0E0E0E;
$red: #f20404;

$theme-colors: (
        "pink": $pink, "fuschia": $fuschia, "violet": $violet, "purple": $purple, "indigo": $indigo, "blue": $blue, "black": $black, "red": $red
);

body {
  background-color: $white;

  h1, h2, h3 {
    color: $black;
  }

  h4 {
    color: $fuschia;
  }

  .btn {
    color: $blue;
    border-color: $blue;
  }

  a, li {
    color: $black;
    font-size: 1.1em;
    letter-spacing: 0.8px;
  }

  a:hover, li:hover {
    color: $fuschia;
    text-decoration: none;
  }

  .navbar-brand {
    background: linear-gradient(to right, $fuschia, 60%, $pink);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-family: "Fjalla One";
    font-size: 2em;
    letter-spacing: 3px;
  }
}

@import "~bootstrap/scss/bootstrap";
