@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
$white: white;
$pink: #FFB4DE;
$fuschia: #FF00FE;
$violet: #B000FD;
$purple: #9900FE;
$indigo: #4000FD;
$blue: #0005FC;
$black: #0E0E0E;
$red: #f20404;

$theme-colors: (
        "pink": $pink, "fuschia": $fuschia, "violet": $violet, "purple": $purple, "indigo": $indigo, "blue": $blue, "black": $black, "red": $red
);

body {
  .btn {
    color: $blue;
    border-color: $blue;
  }
  .btn:hover {
    color: $white;
    background-color: $blue;
    border-color: $blue;
  }
  a {
    color: $pink;
  }
  a:hover {
    color: $white;
    text-decoration: none;
  }
}

@import "~bootstrap/scss/bootstrap";

body {
  background-color: $black;
  h1, h2, h3 {
    background: -webkit-linear-gradient($red, 80%, $pink);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  h4, h5, h6 {
    background: -webkit-linear-gradient($pink, 40%, $red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
}