{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container my-5 text-center">
    <h1>Profile Page</h1>
    <h2>{{ app.user.firstname }}</h2>
    <p>Email : {{ app.user.email }}</p>
</div>
{% endblock %}
